@font-face {
  font-family: FutuHv;
  src: url(FutuHv.ttf);
}

body {
  font-family: FutuHv;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

section {
  padding: 3em;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  background-color: rgba(243, 243, 243, 0.5);
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

#myBtn {
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  float: right;
  left: 94.25%;
  max-width: 30px;
  width: 100%;
  font-size: 12px;
  background-color: #8a0909;
  padding: .5px;
  border-radius: 4px;
  z-index: 3;
  -webkit-box-shadow: 2px 2px 2px 2px #bdbdbd;
          box-shadow: 2px 2px 2px 2px #bdbdbd;
}

#myBtn:hover {
  background-color: rgba(160, 160, 160, 0.63);
}

nav {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

nav ul li {
  list-style: none;
}

nav ul li #siteName {
  margin: 0;
  margin-top: 10px;
}

nav ul li a {
  color: #272727;
  font-size: 12px;
  position: relative;
  padding: 15px 5px;
  width: 100px;
  text-align: center;
  font-weight: 600;
  display: block;
  text-decoration: none;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #272727;
  border-bottom: 2px solid #272727;
  -webkit-transform: scaleY(2);
          transform: scaleY(2);
  opacity: 0;
  -webkit-transition: .15s;
  transition: .15s;
}

nav ul li a:after {
  content: '';
  position: absolute;
  top: 2px;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(160, 160, 160, 0.63);
  color: #ffffff;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: .15s;
  transition: .15s;
}

nav ul li a:hover {
  color: #FF8000;
}

nav ul li a:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

nav ul li a:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.hotspotsec {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotspotsec .hotspot_name {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
}

.hotspotsec .container {
  gap: 4px;
  background-color: whitesmoke;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hotspotsec .container .h_img1 {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

.hotspotsec .container .h_infocon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: whitesmoke;
  border: 3px outset;
}

.hotspotsec .container .h_infocon .h_header {
  font-size: 30px;
  color: #FF8000;
  margin-bottom: 10px;
}

.hotspotsec .container .h_infocon .h_descript {
  margin-top: 10px;
  color: black;
  text-align: justify;
}

.hotspotsec .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
/*# sourceMappingURL=emirateStyle.css.map */